/* Mobile first design */
/* ---------------------------------- */

:root {
  /* font family */
  /* font size */
  /* font weight */
}

* {
  /* clean slate */
  margin: 0;
  padding: 0;
  max-width: 360px; /* mobile screen widths range from 360px to 414px */
  align-content: center;
}

body {
}

/* Large phones */
@media (max-width: 767px) {
}

/* Tablets and up */
@media (min-width: 768px) {
}

/* Desktop and up */
@media (min-width: 1024px) {
}